  .flex-container div {
    height: 100px;
    /* flex: 1; */
  }

  .flex-container .B1, .B2, header, footer {
    background: #1f2937;
    border: 0px solid;
    height: 100px;
    /* flex: 1; */
  }

  .flex-containerdiv {
    display: flex;
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-containerdiv {
    height: 100px;
    flex: 1 1;
  }
  
  /* only div.two is selected here */
   .flex-containerdiv .two {
    flex: 1 1 ;
  } 

.bottomleft{
    position:fixed;
  left: 16px;
  font-size: 18px;
}

#app a:hover{
    background-color: #1f2937;
    border-radius: 20px;
}

.navbar{
    background: #1f2937;
}

h3{
    font-size: 48px;
    color: #f9faf8;
}

p{
   font-size: 18px;
   color: #e5e7eb;
   text-align: center;
}

 li a {
   display: inline-block;
   color: #f9faf8;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 13px;
}
  
  main{
    justify-content: center;
    height: 55vh;
    min-height: 300px;
    bottom: 0;
}


footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
    font-size: small;
    
}